################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PosGo/.vs
/PosGo/src/PosGo.API/bin
/PosGo/src/PosGo.API/obj